<a href="https://colab.research.google.com/github/shubham25091998/machine_learning/blob/main/PandasBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
data = [10,20,30]
arr = np.array(data)
d = {'a':10,'b':20,'c':30}

In [4]:
# creating panda series with default label
pd.Series(data)

0    10
1    20
2    30
dtype: int64

In [5]:
# panda series with custom lebel
pd.Series(data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
# creating panda series with numpy array
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
#creating panda series with dictionary

# Key as labels & value as data
pd.Series(d)

a    10
b    20
c    30
dtype: int64